Repository awslabs/amazon-s3-find-and-forget: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-cfn, format-js, format-python, format-docs, generate-api-docs, cfn-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: local
    hooks:
    -   id: format-cfn
        name: Format CloudFormation
        entry: make format-cfn
        language: system
        files: ^templates/
-   repo: local
    hooks:
    -   id: format-js
        name: Format Javascript
        entry: make format-js
        language: system
        files: ^frontend/
-   repo: local
    hooks:
    -   id: format-python
        name: Format Python Code
        entry: make format-python
        language: system
        files: ^backend/
-   repo: local
    hooks:
    -   id: format-docs
        name: Format Markdown docs
        entry: make format-docs
        language: system
        files: .*\.md
-   repo: local
    hooks:
    -   id: generate-api-docs
        name: Generate API Docs
        entry: make generate-api-docs
        language: system
        files: ^templates/api.yaml
-   repo: https://github.com/awslabs/git-secrets
    rev: 5e28df337746db4f070c84f7069d365bfd0d72a8
    hooks:
    -   id: git-secrets
-   repo: local
    hooks:
    -   id: cfn-lint
        name: Lint CloudFormation templates
        entry: make lint-cfn
        language: system
        files: ^templates/

Move to node 20
  .github/workflows/publish.yaml
  .github/workflows/unit-tests.yaml
  CHANGELOG.md
  docs/LOCAL_DEVELOPMENT.md
Due: format-docs

Update npm version
  docs/LOCAL_DEVELOPMENT.md
Due: format-docs

Move to node18 and patch dependencies (#415)
  .github/workflows/publish.yaml
  .github/workflows/unit-tests.yaml
  CHANGELOG.md
  docs/LOCAL_DEVELOPMENT.md
  package-lock.json
Due: format-docs

Enable Scan On Push for the ECR Repository (#408)
  CHANGELOG.md
  templates/deletion_flow.yaml
  templates/template.yaml
Due: format-cfn, format-docs, cfn-lint

Update frontend dependencies
  CHANGELOG.md
  package-lock.json
Due: format-docs

Update changelog
  CHANGELOG.md
Due: format-docs

Update frontend dependencies (#418)
  CHANGELOG.md
  package-lock.json
Due: format-docs

Fix requirements
  CHANGELOG.md
  requirements.txt
Due: format-docs

Fix code defender issue
  Makefile
Due: none

Upgrade frontend dependencies
  package-lock.json
Due: none

Changelog
  CHANGELOG.md
Due: format-docs

Upgrade frontend dependencies (#422)
  CHANGELOG.md
  package-lock.json
Due: format-docs

Upgrade pip tools
  requirements.in
  requirements.txt
Due: none

Upgrade cache actions
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  .github/workflows/unit-tests.yaml
Due: none

Upgrade cache actions
  .github/workflows/publish.yaml
  .github/workflows/unit-tests.yaml
Due: none

Update Dockerfile base image to 3.9-slim-bullseye
  backend/ecs_tasks/delete_files/Dockerfile
Due: format-python

Update CHANGELOG.md for updating Docker base image
  CHANGELOG.md
Due: format-docs

bump version to v0.69
  templates/template.yaml
Due: format-cfn, cfn-lint

create release for v0.69
  CHANGELOG.md
Due: format-docs

Move pipelines to 3.12
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  .github/workflows/unit-tests.yaml
Due: none

Docs
  docs/LOCAL_DEVELOPMENT.md
Due: format-docs

Move backend
  backend/ecs_tasks/delete_files/Dockerfile
  backend/ecs_tasks/delete_files/requirements.in
  backend/ecs_tasks/delete_files/requirements.txt
  requirements.txt
Due: format-python

Lambdas 1
  templates/api.yaml
  templates/deletion_flow.yaml
Due: format-cfn, generate-api-docs, cfn-lint

Lambdas 2
  templates/deployment_helper.yaml
  templates/layers.yaml
Due: format-cfn, cfn-lint

Lambdas 3
  templates/state_machine.yaml
  templates/stream_processor.yaml
  templates/vpc.yaml
Due: format-cfn, cfn-lint

Release
  CHANGELOG.md
  templates/template.yaml
Due: format-cfn, format-docs, cfn-lint

425
  CHANGELOG.md
Due: format-docs

Move to Python 3.12 (#425)
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  .github/workflows/unit-tests.yaml
  CHANGELOG.md
  backend/ecs_tasks/delete_files/Dockerfile
  backend/ecs_tasks/delete_files/requirements.in
  backend/ecs_tasks/delete_files/requirements.txt
  docs/LOCAL_DEVELOPMENT.md
  package-lock.json
  requirements.txt
  templates/api.yaml
  templates/deletion_flow.yaml
  templates/deployment_helper.yaml
  templates/layers.yaml
  templates/state_machine.yaml
  templates/stream_processor.yaml
  templates/template.yaml
  templates/vpc.yaml
Due: format-cfn, format-python, format-docs, generate-api-docs, cfn-lint

Improve JSON processing performance (#396)
  CHANGELOG.md
  backend/ecs_tasks/delete_files/json_handler.py
  backend/ecs_tasks/delete_files/main.py
  backend/ecs_tasks/delete_files/parquet_handler.py
  tests/unit/ecs_tasks/test_json.py
  tests/unit/ecs_tasks/test_main.py
  tests/unit/ecs_tasks/test_parquet.py
Due: format-python, format-docs

Upgrade ruby
  .github/workflows/publish.yaml
  .github/workflows/unit-tests.yaml
  docs/LOCAL_DEVELOPMENT.md
Due: format-docs

Rename actions
  .github/workflows/publish.yaml
  .github/workflows/unit-tests.yaml
Due: none

Enabled the eu-south-1 region
  cfn-publish.config
  templates/deployment_helper.yaml
  templates/template.yaml
  templates/vpc.yaml
Due: format-cfn, cfn-lint

Updated the changelog and bumped the version
  CHANGELOG.md
  templates/template.yaml
Due: format-cfn, format-docs, cfn-lint

Enabled the `eu-south-2` region (#428)
  CHANGELOG.md
  cfn-publish.config
  templates/deployment_helper.yaml
  templates/template.yaml
  templates/vpc.yaml
Due: format-cfn, format-docs, cfn-lint

Reverted the eu-south-1 region enablement
  cfn-publish.config
  templates/template.yaml
  templates/vpc.yaml
Due: format-cfn, cfn-lint

Reverted the eu-south-1 region enablement (#429)
  CHANGELOG.md
  cfn-publish.config
  templates/template.yaml
  templates/vpc.yaml
Due: format-cfn, format-docs, cfn-lint

ci: scope down permissions for publish.yaml
  .github/workflows/publish.yaml
Due: none

ci: scope down permissions for release.yaml
  .github/workflows/release.yaml
Due: none
