Repository awslabs/amazon-s3-find-and-forget: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-cfn, format-js, format-python, format-docs, generate-api-docs, cfn-lint

format-cfn:
  name: Format CloudFormation
  entry: make format-cfn
  language: system

format-js:
  name: Format Javascript
  entry: make format-js
  language: system

format-python:
  name: Format Python Code
  entry: make format-python
  language: system

format-docs:
  name: Format Markdown docs
  entry: make format-docs
  language: system

generate-api-docs:
  name: Generate API Docs
  entry: make generate-api-docs
  language: system

cfn-lint:
  name: Lint CloudFormation templates
  entry: make lint-cfn
  language: system

Changelog
  CHANGELOG.md
  templates/template.yaml
Due: format-cfn, format-docs, cfn-lint

Fix for a bug affecting gzip json being writtern in uncompressed format (#384)
  .pre-commit-config.yaml
  CHANGELOG.md
  backend/ecs_tasks/delete_files/json_handler.py
  backend/ecs_tasks/delete_files/main.py
  backend/ecs_tasks/delete_files/requirements.in
  backend/ecs_tasks/delete_files/requirements.txt
  requirements.txt
  templates/template.yaml
  tests/acceptance/__init__.py
  tests/acceptance/test_job_cognito.py
  tests/acceptance/test_job_iam.py
  tests/unit/ecs_tasks/test_json.py
  tests/unit/ecs_tasks/test_main.py
Due: format-cfn, format-python, format-docs, cfn-lint

Proper updating the python dependencies + changelog
  CHANGELOG.md
  backend/ecs_tasks/delete_files/requirements.in
  backend/ecs_tasks/delete_files/requirements.txt
  backend/lambda_layers/aws_sdk/requirements.in
  backend/lambda_layers/aws_sdk/requirements.txt
  requirements.in
  requirements.txt
Due: format-python, format-docs

Fix UI
  frontend/src/__tests__/glueSerializer.js
  frontend/src/utils/glueSerializer.js
Due: format-js

Fix main requirements file
  requirements.txt
Due: none

Update dependencies and create release
  CHANGELOG.md
  package-lock.json
  templates/template.yaml
Due: format-cfn, format-docs, cfn-lint

Fix main template
  templates/template.yaml
Due: format-cfn, cfn-lint

Fix UI for when cross-account tables are setup manually (#390)
  CHANGELOG.md
  frontend/src/__tests__/glueSerializer.js
  frontend/src/utils/glueSerializer.js
  package-lock.json
  templates/template.yaml
Due: format-cfn, format-js, format-docs, cfn-lint

Fix main requirements manifest
  requirements.txt
Due: none

Parametersless metadata bugfix
  CHANGELOG.md
  backend/lambdas/data_mappers/handlers.py
  templates/template.yaml
  tests/unit/data_mappers/test_data_mappers.py
Due: format-cfn, format-python, format-docs, cfn-lint

Update changelog
  CHANGELOG.md
Due: format-docs

More validation
  backend/lambdas/data_mappers/handlers.py
  tests/unit/data_mappers/test_data_mappers.py
Due: format-python

Parametersless metadata bugfix (#393)
  CHANGELOG.md
  backend/lambdas/data_mappers/handlers.py
  templates/template.yaml
  tests/unit/data_mappers/test_data_mappers.py
Due: format-cfn, format-python, format-docs, cfn-lint

Change list of match ids to set for json_handler.py
  backend/ecs_tasks/delete_files/json_handler.py
Due: format-python

Update CHANGELOG.md
  CHANGELOG.md
Due: format-docs

Bump Version 0.65 -> 0.66
  templates/template.yaml
Due: format-cfn, cfn-lint

Include optimisation for composite json matches
  backend/ecs_tasks/delete_files/json_handler.py
Due: format-python

Change list of match ids to set for json_handler.py (#395)
  CHANGELOG.md
  backend/ecs_tasks/delete_files/json_handler.py
  templates/template.yaml
Due: format-cfn, format-python, format-docs, cfn-lint

Improve JSON performance and include filesize in the logs
  CHANGELOG.md
  backend/ecs_tasks/delete_files/json_handler.py
  backend/ecs_tasks/delete_files/main.py
  backend/ecs_tasks/delete_files/parquet_handler.py
  tests/unit/ecs_tasks/test_json.py
  tests/unit/ecs_tasks/test_main.py
  tests/unit/ecs_tasks/test_parquet.py
Due: format-python, format-docs

Bump version
  templates/template.yaml
Due: format-cfn, cfn-lint

Cleanup test
  tests/unit/ecs_tasks/test_main.py
Due: none

Fix requirements
  requirements.txt
Due: none

Update backend/ecs_tasks/delete_files/parquet_handler.py
  backend/ecs_tasks/delete_files/parquet_handler.py
Due: format-python

Don't copy the columns multiple time for multiple Decimal identifiers
  backend/ecs_tasks/delete_files/parquet_handler.py
Due: format-python

Further improvements
  backend/ecs_tasks/delete_files/parquet_handler.py
Due: format-python

Replace AmazonAPIGatewayInvokeFullAccess Managed Policy with equivalent inline policy.
  templates/auth.yaml
Due: format-cfn, cfn-lint

Replace Managed Policy with equivalent inline policy (#405)
  CHANGELOG.md
  templates/auth.yaml
Due: format-cfn, format-docs, cfn-lint

Bump to 0.67
  templates/template.yaml
Due: format-cfn, cfn-lint

enable scan on push for the ECR repository
  templates/deletion_flow.yaml
Due: format-cfn, cfn-lint

Attempt at fixing codecov
  .github/workflows/unit-tests.yaml
Due: none

Switch to variable for codecov token
  .github/workflows/unit-tests.yaml
Due: none

bump version
  templates/template.yaml
Due: format-cfn, cfn-lint

Do not fail the build when CodeCov fails to run
  .github/workflows/unit-tests.yaml
Due: none

Move to node18 and patch dependencies
  .github/workflows/publish.yaml
  .github/workflows/unit-tests.yaml
  docs/LOCAL_DEVELOPMENT.md
  package-lock.json
Due: format-docs

Changelog
  CHANGELOG.md
Due: format-docs

Fix syntax
  backend/ecs_tasks/delete_files/main.py
  backend/ecs_tasks/delete_files/requirements.in
  backend/ecs_tasks/delete_files/requirements.txt
  backend/ecs_tasks/delete_files/s3.py
  backend/lambda_layers/aws_sdk/requirements.in
  backend/lambda_layers/aws_sdk/requirements.txt
  backend/lambda_layers/boto_utils/python/boto_utils.py
  backend/lambdas/data_mappers/handlers.py
  backend/lambdas/jobs/handlers.py
  backend/lambdas/jobs/stats_updater.py
  backend/lambdas/jobs/status_updater.py
  backend/lambdas/queue/handlers.py
  backend/lambdas/settings/handlers.py
  backend/lambdas/tasks/check_queue_size.py
  backend/lambdas/tasks/check_task_count.py
  backend/lambdas/tasks/emit_event.py
  backend/lambdas/tasks/execute_query.py
  backend/lambdas/tasks/generate_queries.py
  backend/lambdas/tasks/orchestrate_ecs_service_scaling.py
  backend/lambdas/tasks/purge_queue.py
  backend/lambdas/tasks/scan_table.py
  backend/lambdas/tasks/submit_query_results.py
  requirements.txt
  tests/unit/ecs_tasks/test_s3.py
Due: format-python

Path conditions:
  format-cfn: any of: ^templates/
  format-js: any of: ^frontend/
  format-python: any of: ^backend/
  format-docs: any of: .*\.md
  generate-api-docs: any of: ^templates/api.yaml
  cfn-lint: any of: ^templates/
