Repository awslabs/amazon-s3-find-and-forget: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-cfn, format-js, format-python, format-docs, generate-api-docs, cfn-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: local
    hooks:
    -   id: format-cfn
        name: Format CloudFormation
        entry: make format-cfn
        language: system
        files: ^templates/
-   repo: local
    hooks:
    -   id: format-js
        name: Format Javascript
        entry: make format-js
        language: system
        files: ^frontend/
-   repo: local
    hooks:
    -   id: format-python
        name: Format Python Code
        entry: make format-python
        language: system
        files: ^backend/
-   repo: local
    hooks:
    -   id: format-docs
        name: Format Markdown docs
        entry: make format-docs
        language: system
        files: .*\.md
-   repo: local
    hooks:
    -   id: generate-api-docs
        name: Generate API Docs
        entry: make generate-api-docs
        language: system
        files: ^templates/api.yaml
-   repo: https://github.com/awslabs/git-secrets
    rev: 5e28df337746db4f070c84f7069d365bfd0d72a8
    hooks:
    -   id: git-secrets
-   repo: local
    hooks:
    -   id: cfn-lint
        name: Lint CloudFormation templates
        entry: make lint-cfn
        language: system
        files: ^templates/

ci: scope down permissions for unit-tests.yaml
  .github/workflows/unit-tests.yaml
Due: none

Upgrade base py image and remove unused dependency
  backend/ecs_tasks/delete_files/Dockerfile
  templates/template.yaml
Due: format-cfn, format-python, cfn-lint

Changelog
  CHANGELOG.md
Due: format-docs

Merge pull request #430 from AdnaneKhan/update/scopedown-token
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  .github/workflows/unit-tests.yaml
Due: none

Upgrade frontend dependencies
  package-lock.json
Due: none

Upgrade backend dependencies
  backend/ecs_tasks/delete_files/requirements.in
  backend/ecs_tasks/delete_files/requirements.txt
  backend/lambda_layers/aws_sdk/requirements.in
  backend/lambda_layers/aws_sdk/requirements.txt
  requirements.in
  requirements.txt
  tests/unit/ecs_tasks/test_s3.py
Due: format-python

Upgrade pip-tools
  requirements.in
  requirements.txt
Due: none

Downgrade pip
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  .github/workflows/unit-tests.yaml
Due: none

testing pip command
  .github/workflows/unit-tests.yaml
Due: none

Revert github workflows and upgrade pip-compile
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  .github/workflows/unit-tests.yaml
  package-lock.json
  requirements.in
  requirements.txt
Due: none

Update Docker imagefile + frontend dependencies
  backend/ecs_tasks/delete_files/Dockerfile
  package-lock.json
Due: format-python

Trigger release
  CHANGELOG.md
  templates/template.yaml
Due: format-cfn, format-docs, cfn-lint

Upgrade dependencies (#432)
  CHANGELOG.md
  backend/ecs_tasks/delete_files/Dockerfile
  backend/ecs_tasks/delete_files/requirements.in
  backend/ecs_tasks/delete_files/requirements.txt
  backend/lambda_layers/aws_sdk/requirements.in
  backend/lambda_layers/aws_sdk/requirements.txt
  package-lock.json
  requirements.in
  requirements.txt
  templates/template.yaml
  tests/unit/ecs_tasks/test_s3.py
Due: format-cfn, format-python, format-docs, cfn-lint

Upgrade backend and frontend dependencies, update changelog
  CHANGELOG.md
  backend/ecs_tasks/delete_files/requirements.in
  backend/ecs_tasks/delete_files/requirements.txt
  backend/lambda_layers/aws_sdk/requirements.in
  backend/lambda_layers/aws_sdk/requirements.txt
  package-lock.json
  requirements.in
  requirements.txt
Due: format-python, format-docs

Revert "Bump urllib3 from 2.6.0 to 2.6.3 in /backend/ecs_tasks/delete_files"
  backend/ecs_tasks/delete_files/requirements.txt
Due: format-python

Upgrade pandas and recompile requirements to fix pip-compile conflicts
  CHANGELOG.md
  backend/ecs_tasks/delete_files/requirements.in
  backend/ecs_tasks/delete_files/requirements.txt
  backend/lambda_layers/aws_sdk/requirements.txt
  backend/lambda_layers/cr_helper/requirements.txt
  backend/lambda_layers/decorators/requirements.txt
  requirements.txt
Due: format-python, format-docs

Upgrade pandas and recompile requirements to fix pip-compile conflicts (#443)
  CHANGELOG.md
  backend/ecs_tasks/delete_files/requirements.in
  backend/ecs_tasks/delete_files/requirements.txt
  backend/lambda_layers/aws_sdk/requirements.txt
  backend/lambda_layers/cr_helper/requirements.txt
  backend/lambda_layers/decorators/requirements.txt
  requirements.txt
Due: format-python, format-docs

Release v0.74
  CHANGELOG.md
  docs/acceptance-tests-cicd-plan.md
  templates/template.yaml
Due: format-cfn, format-docs, cfn-lint

Release v0.74
  CHANGELOG.md
  templates/template.yaml
Due: format-cfn, format-docs, cfn-lint

fix(json): delete records with falsy match identifiers (0, "", false)
  CHANGELOG.md
  backend/ecs_tasks/delete_files/json_handler.py
  tests/unit/ecs_tasks/test_json.py
Due: format-python, format-docs

Fixes
  backend/ecs_tasks/delete_files/requirements.txt
  backend/lambda_layers/aws_sdk/requirements.in
  backend/lambda_layers/aws_sdk/requirements.txt
  requirements.in
  requirements.txt
Due: format-python

Update frontend deps
  package-lock.json
Due: none

Remove libaom3 to address CVE-2026-56209
  backend/ecs_tasks/delete_files/Dockerfile
Due: format-python

Remove libaom3 to address CVE-2026-56209 (#455)
  backend/ecs_tasks/delete_files/Dockerfile
Due: format-python

Release v0.75
  CHANGELOG.md
  templates/template.yaml
Due: format-cfn, format-docs, cfn-lint

Release v0.75 (#456)
  CHANGELOG.md
  templates/template.yaml
Due: format-cfn, format-docs, cfn-lint

Fix frontend build: bump bootstrap to 4.6.2
  frontend/package.json
  package-lock.json
Due: format-js

Release v0.76
  CHANGELOG.md
  frontend/package.json
  package-lock.json
  templates/template.yaml
Due: format-cfn, format-js, format-docs, cfn-lint

Release v0.76 (#457)
  CHANGELOG.md
  frontend/package.json
  package-lock.json
  templates/template.yaml
Due: format-cfn, format-js, format-docs, cfn-lint

docs(json): address review — lead with Composite case, trim CHANGELOG, annotate boolean test
  CHANGELOG.md
  tests/unit/ecs_tasks/test_json.py
Due: format-docs

fix(json): delete records with falsy match identifiers (0, "", false) (#453)
  CHANGELOG.md
  backend/ecs_tasks/delete_files/json_handler.py
  tests/unit/ecs_tasks/test_json.py
Due: format-python, format-docs

Fixes
  backend/ecs_tasks/delete_files/requirements.in
  backend/ecs_tasks/delete_files/requirements.txt
  backend/ecs_tasks/delete_files/s3.py
  backend/lambda_layers/aws_sdk/requirements.in
  backend/lambda_layers/aws_sdk/requirements.txt
  backend/lambdas/custom_resources/cleanup_bucket.py
  backend/lambdas/custom_resources/cleanup_repository.py
  backend/lambdas/custom_resources/copy_build_artefact.py
  backend/lambdas/custom_resources/redeploy_apigw.py
  backend/lambdas/custom_resources/rerun_pipeline.py
  backend/lambdas/custom_resources/wait_container_build.py
  frontend/package.json
  package-lock.json
  requirements.in
  requirements.txt
  tests/unit/tasks/test_emit_event.py
  tests/unit/tasks/test_execute_query.py
  tests/unit/tasks/test_work_query_queue.py
Due: format-js, format-python
